In [6]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials

SPREAD_SHEET_NAME = 'MetroCC_data_2019-08'
CRED_FILENAME = 'dim2GSheets-aa30775bc217.json'
SPREADSHEET_ID = '1Oui0gLgglQy8-1fxd-oKtQv9VPavqSIFOdgplNWi5Zg'

SCOPES = ['https://www.googleapis.com/auth/spreadsheets']

credentials = ServiceAccountCredentials.from_json_keyfile_name(CRED_FILENAME, SCOPES)

gc = gspread.authorize(credentials)

#worksheet = gc.open(SPREAD_SHEET_NAME).sheet1
worksheet = gc.open_by_key(SPREADSHEET_ID).sheet1

values_list = worksheet.row_values(1)

print (values_list)

cell_list = worksheet.range('A5:E5')

for cell in cell_list:
    cell.value = 'test'
    
# Update in batch
worksheet.update_cells(cell_list)

['A1', 'B1', 'C1', 'D1', 'E1']

{'spreadsheetId': '1Oui0gLgglQy8-1fxd-oKtQv9VPavqSIFOdgplNWi5Zg',
 'updatedRange': 'test!A5:E5',
 'updatedRows': 1,
 'updatedColumns': 5,
 'updatedCells': 5}

In [1]:
import pandas as pd
ds = pd.DataFrame([[1, '16.08.2019 13:42:04'],[2, '16.08.2019 13:42:04'],[3, '16.08.2019 13:42:04']], columns=['N', 'Timestamp'])

In [2]:
ds

   N            Timestamp
0  1  16.08.2019 13:42:04
1  2  16.08.2019 13:42:04
2  3  16.08.2019 13:42:04

In [3]:
ds['Datetime'] = pd.to_datetime(ds['Timestamp'])

In [4]:
ds

   N            Timestamp            Datetime
0  1  16.08.2019 13:42:04 2019-08-16 13:42:04
1  2  16.08.2019 13:42:04 2019-08-16 13:42:04
2  3  16.08.2019 13:42:04 2019-08-16 13:42:04